<div>
  <form [formGroup]="wrapperForm" (change)="allowContinue()">
    <ul id="sauces">
      @for (pizzasauce of sauceList; track pizzasauce) {
        <li class="base-li">
          <label for="pizzasauce.name">
            <div class="center">
              <input
                type="radio"
                [value]="pizzasauce.value"
                [name]="pizzasauce.formControlName"
                formControlName="sauce"
              />
              <img
                class="pizzaimage"
                [src]="this.baseSrc + pizzasauce.image"
                alt="Pizza sauce"
              />
            </div>
            <label class="center">{{ pizzasauce.name }}</label>
          </label>
        </li>
      }
    </ul>

    <div class="buttons">
      <button type="" routerLink="/base" class="button-back"><p>🍕</p></button>
      <button
        type=""
        [disabled]="this.disableButton"
        routerLink="/toppings"
        class="button-next"
      >
        <p>🍕</p>
      </button>
    </div>
  </form>
</div>
