<div>
  <form [formGroup]="wrapperForm"></form>
  <p>
    You wanted a pizza that is {{ this.base }}, with {{ this.sauce }} and as
    toppings...

    @for (topping of this.toppings; track topping) {
      {{ topping }}
    } @empty {
      <p>Huh... nothing?</p>
    }
  </p>

  <div class="box">
    <img class="base" [src]="baseSrc" alt="Pizza base 1" />
    <img class="sauce" [src]="sauceSrc" alt="Pizza base 1" />
    <img
      class="topping"
      src="../../assets/Pizza/Bases/pizza_base1ready.png"
      alt="Pizza base 1"
    />
  </div>
</div>
