.finalpizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.box {
  display: grid;
  position: relative;
}
.base {
  grid-column: 1;
  grid-row: 1;
}

.sauce {
  grid-column: 1;
  grid-row: 1;
}

.topping {
  grid-column: 1;
  grid-row: 1;
}
