/* You can add global styles to this file, and also import other style files */

* {
  font-size: 18px;
}

.main {
  background-image: url("./assets/Chef/Chef.png");
  background-color: red;
  background-repeat: no-repeat;
}

.app-div {
  display: flex;

  justify-self: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}
.button-next {
  border: 0;
  background-color: powderblue;
  line-height: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #3c4142;
  text-shadow: 1px 1px 3px black;
  box-shadow: inset 2px 2px 3px rgba(250, 250, 250, 0.5);
  font-size: 50px;
  rotate: -90deg;
}
.button-back {
  border: 0;
  background-color: powderblue;
  line-height: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #3c4142;
  text-shadow: 1px 1px 3px black;
  box-shadow: inset 2px 2px 3px rgba(250, 250, 250, 0.5);
  font-size: 50px;
  rotate: 90deg;
}
