<div>
  <fieldset class="fieldset">
    <form [formGroup]="wrapperForm" (change)="allowContinue()">
      <ul id="bases">
        @for (pizzabase of baseList; track pizzabase.id) {
          <li class="base-li">
            <label for="pizzabase.name">
              <img
                class="pizzaimage"
                [src]="this.baseSrc + pizzabase.image"
                alt="Pizza base"
              />
              <input
                type="radio"
                [value]="pizzabase.value"
                [name]="pizzabase.formControlName"
              />
              {{ pizzabase.name }}</label
            >
          </li>
        }
      </ul>
      <div class="buttons">
        <button type="" routerLink="/" class="button-back">🍕</button>
        <button
          type=""
          [disabled]="this.disableButton"
          routerLink="/sauce"
          class="button-next"
        >
          🍕
        </button>
      </div>
    </form>
  </fieldset>
</div>
